// resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

//set height

html,
body {
  height: 100%;
}

//set base font-size

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: sans-serif;
  font-family: $open-sans;

  ul {
    list-style-type: none;
  }

  img {
    user-select: none;
  }
}
